body {
    background-color: rgb(56, 56, 56);
}

article {
    background-color: rgb(49, 49, 49);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    color: white;
    border: none;
    height: 15px;
    background-color: rgb(255, 255, 255);
}

.hero-text h1 {
    color: white;
    margin-top: 150px;
    padding-left: 50px;
    font-weight: 40px;
}

.hero-text h1 span {
    color: red;
}

.hero-text p {
    text-align: left;
    padding-left: 50px;
    font-size: 30px;
}

.hero-text a {
    margin-left: 50px;
    font-size: 25px;
}

.hero-img {
    margin-top: -350px;
    margin-right: 180px;
    width: 300px;
    height: 600px;
}

.card-title h1 {
    margin-left: 500px;
    margin-top: -50px;
}

.card-title1 h1 {
    font-size: 35px;
    margin-left: 50px;
}

.card-title h1 span {
    color: red;
}

.card-text0 p {
    font-size: 25px;
    margin-left: 500px;
}

.card-title2 h1 {
    font-size: 35px;
    margin-left: 700px;
}

.card-text2 p {
    font-size: 25px;
    margin-left: 505px;
    margin-top: -150px;
}

.card-title3 h1 {
    font-size: 35px;
    margin-left: 585px;
    margin-top: -550px;
}

.card-text3 p {
    font-size: 35px;
    margin-left: 505px;
    margin-top: -350px;
}

.card-content2 .img {
    width: 50px;
    height: 50px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand span {
    margin-left: 10px;
    font-size: 1.5rem;
}

.nav-item .btn-danger {
    width: 200px;
    margin-top: 0px;
}

.card {
    width: 100%;
    max-width: 1200px;
    margin: 25px auto;
    padding: 30px;
    background-color: #212121;
    border: 3px solid white;
    border-radius: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.card-content {
    display: flex;
    align-items: left;
    gap: 20px;
    flex-wrap: wrap;
}

.card-image {
    max-width: 40%;
    height: auto;
    border-radius: 15px;
}

.card-text {
    max-width: 60%;
    text-align: right;
}

.card-image3 {
    margin-bottom: -350px;
    height: 850px;
    width: 1500px;
}

.card-title3 {
    margin-top: 35px;
    margin-left: -85px;
}

.card-text3 {
    margin-top: -25px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.custom-btn {
    font-size: 20px;
    padding: 15px 30px;
}

.custom-btn i {
    margin-right: 10px;
}

.btn-block {
    display: block;
    width: 100%;
}

footer {
    background-color: white;
    color: black;
    padding: 20px 0;
    text-align: center;
}

footer p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

footer a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.python-icon {
    color: white;
    align-items: left;
    font-size: 250px;
    margin-bottom: -170px;
    margin-left: 200px;
}

.download-info {
    margin-left: 80px;
}

.btn-danger {
    width: 550px;
    margin-top: -10px;
    margin-left: -10px;
}

@media (max-width: 1024px) {
    .hero-img {
        width: 300px;
        height: 600px;
        margin-top: 50px;
        margin-right: 250px;
    }

    .hero-text h1 {
        color: white;
        margin-top: 50px;
        padding-left: 300px;
        font-weight: 40px;
    }

    .hero-text h1 span {
        color: red;
    }

    .hero-text p {
        text-align: left;
        padding-left: 150px;
        font-size: 30px;
    }

    .hero-text a {
        margin-left: 225px;
        font-size: 25px;
    }

    .card {
        max-width: 90%;
        padding: 15px;
        overflow: hidden;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 25px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    footer {
        text-align: center;
    }

    .card-content {
        flex-direction: column;
        text-align: center;
    }

    .card-content img {
        height: 250px;
        width: 650px;
    }

    .card-image {
        max-width: 250%;
    }

    .card-image {
        height: 1500%;
    }

    .card-title3 h1 {
        font-size: 35px;
        margin-left: 85px;
        margin-top: -120px;
    }

    .card-text3 p {
        font-size: 35px;
        margin-left: -1px;
        margin-top: -50px;
    }

    .card-title h1 {
        margin-left: 200px;
        margin-top: 200px;
    }

    .card-image3 {
        height: 1000px;
        width: 100%;
    }

    .card-title h1 span {
        color: red;
    }

    .card-title2 h1 {
        margin-right: 1500px;
        margin-top: 200px;
    }

    .card-text2 p {
        font-size: 25px;
        margin-left: 10px;
        margin-top: -25px;
    }

    .card-text0 p {
        font-size: 25px;
        margin-left: 150px;
    }

    .card-text p, .card-text ul li {
        font-size: 0.9rem;
        align-items: center;
        margin-top: -10px;
        margin-right: 200px;
    }

    .python-icon {
        font-size: 220px;
        margin-left: 50px;
        align-items: center;
        margin-top: -10px;
    }

    .download-info {
        margin-top: 180px;
        margin-left: -500px;
    }

    .btn-danger {
        width: 500px;
        margin-top: -300px;
        margin-left: 150px;
    }
}

@media (max-width: 768px) {
    body {
        transform: none; 
    }
    
    .navbar .btn-danger {
        font-size: 16px;
        background-color: red;
        color: white;
        padding: 8px 15px; 
        border-radius: 5px; 
        text-align: center;
        display: inline-flex; 
        align-items: center; 
        justify-content: center; 
        text-decoration: none; 
    }
    
    .hero-img {
        width: 300px;
        height: 600px;
        display: block; 
        margin: 20px auto; 
    }
    
    .hero-text h1 {
        color: white;
        margin-top: 50px;
        padding-left: 10px;
        font-weight: 40px;
    }

    .hero-text h1 span {
        color: red;
    }

    .hero-text p {
        text-align: left;
        padding-left: 25px;
        font-size: 25px;
    }

    .hero-text a {
        display: block; 
        margin: 0 auto; 
        text-align: center; 
        font-size: 25px;
        padding-right: 0; 
    }
    .card {
        max-width: 95%;
        padding: 10px;
        margin: 20px auto; 
        text-align: center; 
    }

    h1 {
        font-size: 24px;
        text-align: center; 
    }

    p {
        font-size: 16px;
        text-align: center; 
    }
    
    li {
        margin-bottom: 10px;
        text-align: left;
    }

    .button-container {
        margin: 15px auto; 
        text-align: center; 
    }

    footer img {
        width: 80px;
        height: auto;
        display: block;
        margin: 0 auto; 
    }

    footer p {
        font-size: 14px;
        text-align: center; 
        margin-bottom: 20px;
        padding-top: 200px;
        padding-right: 50px;
    }

    footer.bg-white {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 15px;
    }

    footer .d-flex {
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
    }

    footer a {
        font-size: 16px !important;
        margin-right: 0 !important;
    }

    footer p[style*="font-size: 25px"] {
        font-size: 18px !important;
    }

    .card h1 {
        font-size: 1.5rem; 
        margin: 10px 0;
        color: white; 
    }
    
    .card p {
        font-size: 1rem;
        margin: 10px 0;
        line-height: 1.5; 
    }
    
    .card span {
        color: red; 
    }
    
    .card-text3 {
        margin-top: -30px; 
        text-align: center; 
    }
    
    .card-image3 {
        width: 100%;
        max-width: 400px; 
        height: auto; 
        margin: 15px auto; 
        display: block;
    }

    .card-title3 {
        margin: 20px auto; 
        text-align: center; 
        margin-top: -25px;
    }

    .card-content img {
        height: auto; 
        width: 100%;
        max-width: 400px;
        margin: 0 auto; 
    }

    .python-icon {
        font-size: 220px;
        margin: 10px auto;
        text-align: center; 
    }

    .download-info {
        margin-top: 150px;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        max-width: 300px;
        margin-right: 25px;
    }
    

    .card .btn-danger {
        width: 325px;
        margin: 0 auto; 
        background-color: red;
        color: white;
        padding: 10px;
        border-radius: 10px;
        font-size: 5px;
        text-align: center;
        position: relative;
        top: 0; 
        margin-top: -470px;
        margin-left: 20px;
    }
}

@media (max-width: 480px) {
    footer.bg-white {
        flex-direction: column;
        padding: 10px;
    }

    footer .d-flex {
        width: 100%;
        margin: 8px 0;
    }

    footer img {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

    footer p {
        font-size: 30px !important;
        padding: 0 !important;
    }

    footer p[style*="font-size: 25px"] {
        font-size: 20px !important;
    }

    footer a {
        font-size: 30px !important;
    }
}
